/*-------------------------------------------------*\
  # BLOQUE TÃTULO PRINCIPAL (PSEUDOELEMENTO BEFORE)
\*-------------------------------------------------*/

.main-title:before {
  content: "";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  width: 60px;
  border-radius: 50px;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-color: theme("colors.primary-light");
}

/*-------------------------------------------------*\
  # BREADCRUMB (PSEUDOELEMENTO BEFORE)
\*-------------------------------------------------*/

.breadcrumb-active:before {
  content: ">";
  float: left;
  padding-right: 0.5rem;
  color: theme("colors.dark");
}

/*-------------------------------------------------*\
  # ABBR (ATRIBUTO TITLE)
\*-------------------------------------------------*/

abbr[title].abbr {
  text-decoration: none;
}
