/*-------------------------------------------------*\
  # BLOQUE TÃTULO PRINCIPAL (PSEUDOELEMENTO BEFORE)
\*-------------------------------------------------*/

.main__title:before {
  content: "";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  width: 60px;
  border-radius: 50px;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-color: $color-primary-light; // color
}

/*-------------------------------------------------*\
  # BREADCUMB (PSEUDOELEMENTO BEFORE)
\*-------------------------------------------------*/

.breadcrumb__active:before {
  float: left;
  padding-right: 0.5rem;
  color: #2d2e2e;
  content: ">";
}

/*-------------------------------------------------*\
  # ABBR
\*-------------------------------------------------*/

abbr[title].abbr {
  text-decoration: none;
}
